*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: slateblue;
    font-family: Arial;
}

.play-area {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.next-area {
    display: flex;
    flex-direction: column;
    font-size: 36px;
}